<div class="modal fade" id="viewChildModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-child me-2"></i>Child Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label class="form-label text-muted small">Full Name</label>
                        <div class="fw-semibold" id="viewChildName">-</div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label text-muted small">Date of Birth</label>
                        <div id="viewChildDOB">-</div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label text-muted small">Gender</label>
                        <div id="viewChildGender">-</div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label text-muted small">School</label>
                        <div id="viewChildSchool">-</div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label text-muted small">Grade</label>
                        <div id="viewChildGrade">-</div>
                    </div>
                    <div class="col-12">
                        <label class="form-label text-muted small">Pickup Location</label>
                        <div id="viewChildPickup">-</div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small">Emergency Contact</label>
                        <div id="viewChildEmergencyName">-</div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small">Contact Phone</label>
                        <div id="viewChildEmergencyPhone">-</div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label text-muted small">Relationship</label>
                        <div id="viewChildEmergencyRel">-</div>
                    </div>
                    <div class="col-12">
                        <label class="form-label text-muted small">Medical Notes</label>
                        <div id="viewChildMedical">-</div>
                    </div>
                    <div class="col-12" id="viewChildSubscriptionSection" style="display:none">
                        <hr>
                        <h6>Subscription Details</h6>
                        <div class="row g-2">
                            <div class="col-md-6">
                                <label class="form-label text-muted small">Group</label>
                                <div id="viewChildGroup">-</div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label text-muted small">Driver</label>
                                <div id="viewChildDriver">-</div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label text-muted small">Pickup Time</label>
                                <div id="viewChildPickupTime">-</div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label text-muted small">Drop Time</label>
                                <div id="viewChildDropTime">-</div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label text-muted small">Monthly Price</label>
                                <div id="viewChildPrice">-</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
